html{
    scroll-snap-type: y mandatory;
}


section{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

section:nth-child(1){
    background-color: aqua;
}

section:nth-child(2){
    background-color: pink;
}

section :nth-child(3){
    background-color: red;
}

section:nth-child(4){
    background-color:chartreuse;
}

section :nth-child(5){
    background-color: brown;
}

section :nth-child(6){
    background-color:forestgreen;
}
